<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Website</title>
</head>
<body>
    <button id="btn" onclick="window.location.href='/get-image'">Click Me</button>
    <% if (locals.url) { %>
        <img src="<%- url %>" alt="image">
    <% } %>

    <% if (locals.error) { %>
        <h2>Error has occurred: <%= error %></h2>
    <% } %>
</body>
</html>
